<!-- NOTE: CHANGE THE FILE NAME FROM .env_template to .env -->

POSTGRES_DB=ecommerce_wb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ducan06112004
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

<!-- https://docs.stripe.com/keys -->

STRIPE_PUBLIC_KEY=<env-key>
STRIPE_SECRET_KEY=<env-key>

<!-- https://www.upwork.com/resources/paypal-client-id-secret-key -->
<!-- https://www.appinvoice.com/en/s/documentation/how-to-get-paypal-client-id-and-secret-key-22 -->

PAYPAL_CLIENT_ID=<env-key>
PAYPAL_SECRET_ID=<env-key>

<!-- https://flutterwave.com/mu/support/my-account/getting-your-api-keys -->

FLUTTERWAVE_PUBLIC_KEY=<env-key>
FLUTTERWAVE_PRIVATE_KEY=<env-key>

<!-- https://support.paystack.com/hc/en-us/articles/360011508199-How-do-I-generate-new-API-keys -->

PAYSTACK_PUBLIC_KEY=<env-key>
PAYSTACK_PRIVATE_KEY=<env-key>

<!-- https://razorpay.com/docs/payments/dashboard/account-settings/api-keys/ -->

RAZORPAY_KEY_ID=<env-key>
RAZORPAY_KEY_SECRET=<env-key>

<!-- https://help.mailgun.com/hc/en-us/articles/203380100-Where-can-I-find-my-API-keys-and-SMTP-credentials -->
<!-- https://docs.gravityforms.com/mailgun-api-key/ -->
<!-- https://app.mailgun.com/settings/api_security -->

MAILGUN_API_KEY=<env-key>
MAILGUN_SENDER_DOMAIN=<env-key>

<!-- Enter your verified mailgun emails here -->

FROM_EMAIL=<env-key>
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
DEFAULT_FROM_EMAIL=<env-key>
SERVER_EMAIL=<env-key>

<!-- https://cloud.google.com/recaptcha/docs/create-key-website -->

<!-- DJANGO_RECAPTCHA_PUBLIC_KEY=6LfDzUkrAAAAAKPVfs49gaTmT0MEHMXIZW77u6Fa
DJANGO_RECAPTCHA_PRIVATE_KEY=6LfDzUkrAAAAAHBbgHouMD8qBRjJLxKwfYrlmkBg -->
