{% extends 'partials/base.html' %} {% load static %} {% load humanize %} {% block content %}
<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative ">
                    <h1 class="fw-bold pt-3">Get In Touch</h1>
                </div>
            </div>
        </div>
        
        <div class="row align-items-start justify-content-between">
        
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="card-wrap-body mb-4">
                    <h4 class="fw-bold mb-3 text-dark">Office Location</h4>
                    <p>123 Main Street,<br> 2345435 Hot Troad TX United States</p>
                </div>
                
                <div class="card-wrap-body mb-3">
                    <h4 class="fw-bold mb-3 text-dark">Make a Call</h4>
                    <p class="mb-0">+123 (456) 7890</p>
                    <p class="mb-0">+123 (456) 7890</p>
                    <p class="mb-0">+123 (456) 7890</p>
                    
                </div>
                
                <div class="card-wrap-body mb-3">
                    <h4 class="fw-bold mb-3 text-dark">Drop A Mail</h4>
                    <p class="lh-1 text-dark"> info@fastcart.store</p>
                    <p class="lh-1 text-dark"> help@fastcart.store</p>
                    <p class="lh-1 text-dark"> query@fastcart.store</p>
                    <p class="lh-1 text-dark"> support@fastcart.store</p>
                    <p class="lh-1 text-dark"> call@fastcart.store</p>
                </div>
            </div>
            
            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                <form class="row" method="POST">
                        {% csrf_token %}
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <div class="form-group">
                            <label class="small text-dark fw-medium">Your Name *</label>
                            <input type="text" name="full_name" class="form-control rounded " placeholder="Full Name">
                        </div>
                    </div>
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <div class="form-group">
                            <label class="small text-dark fw-medium">Your Email *</label>
                            <input type="text" name="email" class="form-control rounded " placeholder="Email">
                        </div>
                    </div>
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <div class="form-group">
                            <label class="small text-dark fw-medium">Subject</label>
                            <input type="text" name="subject" class="form-control rounded " placeholder="Subject">
                        </div>
                    </div>
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <div class="form-group">
                            <label class="small text-dark fw-medium">Message</label>
                            <textarea name="message" class="form-control rounded  ht-80" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <div class="form-group">
                            <button type="submit" class="btn bg-primary text-white btn-sm rounded">Send Message <i class="fas fa-envelope"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}