{% extends 'partials/base.html' %} {% load static %} {% load humanize %} {% block content %}
<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Customer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row align-items-start justify-content-between">
            {% include 'customer/sidebar.html' %}


            <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                <div class="row mb-4">
                    <h4 class="mb-0 mb-2 fw-bold">Profile</h4>
                </div>
                <div class="row align-items-center">
                    <form class="row m-0" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                            <div class="form-group">
                                <label class="small text-dark ft-medium">Avatar</label>
                                <input type="file" name="image" class="form-control rounded" />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                            <div class="form-group">
                                <label class="small text-dark ft-medium">Full Name</label>
                                <input type="text" name="full_name" class="form-control rounded" value="{{profile.full_name}}" />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                            <div class="form-group">
                                <label class="small text-dark ft-medium">Email</label>
                                <input type="email" name="email" class="form-control rounded bg-light" readonly value="{{profile.user.email}}" />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                            <div class="form-group">
                                <label class="small text-dark ft-medium">Mobile</label>
                                <input type="text" name="mobile" class="form-control rounded" value="{{profile.mobile}}" />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn bg-primary text-white btn-sm rounded">Save Changes <i class="fas fa-save ms-2"></i></button>
                            </div>
                        </div>

                        <div class="mt-3">
                            <a href="{% url 'customer:change_password' %}">Change Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
