{% extends 'partials/base.html' %} 
{% load static %} 
{% load humanize %} 
{% block content %}
	
	<section class="middle">
		<div class="container">
			<h2 class="fw-bold mb-5">{{category.title}} (<span class="product_count">{{ products_list.count }}</span>)</h2>
			<form class="mb-5 d-flex justify-content-between align-items-center gap-2">
				<input type="text" class="form-control rounded" placeholder="Search Products..." name="q" id="">
				<button type="submit" class="btn bg-primary text-white rounded "><i class="fas fa-search"></i></button>
			</form>
			<div class="row">
				<div class="col-lg-12"> 
					<div class="row align-items-center rows-products" id="products-list">						
						 
						 {% for p in products %}
							<div class="col-lg-3">
								<div class="product_grid card b-0  rounded-3 shadow m-2 p-2">
									<div class="card-body p-0">
										<div class="shop_thumb position-relative">
											<a class="card-img-top d-block overflow-hidden" href="{% url 'store:product_detail' p.slug %}"><img class="card-img-top" style="width: 100%; height: 230px; object-fit: cover;" src="{{p.image.url}}" alt="..." /></a>
										</div>
									</div>
									<div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-start justify-content-between">
										<div class="text-left">
											<div class="text-left">
												<div class="elso_titl"><span class="small">{{p.category.title}}</span></div>
												<h5 class="fs-md mb-0 lh-1 mb-1"><a href="{% url 'store:product_detail' p.slug %}">{{p.name}}</a></h5>
												  <div class="star-rating align-items-center d-flex justify-content-left mb-2 p-0 mt-3">
													{% if not p.average_rating  %}
													<i class="fas fa-star text-warning"></i>
													{% elif p.average_rating > 0 and p.average_rating < 2 %}
													<i class="fas fa-star text-warning"></i>
													{% elif p.average_rating > 1 and p.average_rating < 3 %}
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													{% elif p.average_rating > 2 and p.average_rating < 4 %}
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													{% elif p.average_rating > 3 and p.average_rating < 5 %}
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													{% elif p.average_rating > 4 %}
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													<i class="fas fa-star text-warning"></i>
													{% endif %}
												</div>
												<div class="elis_rty"><span class="ft-bold text-dark fs-sm">${{p.price}}</span></div>
											</div>
											<div class="d-flex align-items-center gap-3">
												<button type="button" class="btn btn-sm bg-primary text-white rounded add_to_cart" data-id="{{p.id}}">Add to cart <i class="fas fa-shopping-cart ms-2"></i></button>
												<a href="#" class="me-2 add_to_wishlist" data-product_id="{{p.id}}"><i class="fas fa-heart fs-4 text-dark"></i></a>
                                        		<input type="hidden" class="quantity" value="1" name="" id="">
											</div>
										</div>
									</div>
								</div>
							</div>
                        {% empty %}
                        <p>No product for this category</p>
						 {% endfor %}
							
					</div>
				</div>				
			</div>
		</div>
	</section>

{% endblock content %}
