{% extends 'partials/base.html' %}
{% load static %} 
{% load humanize %} 
{% block content %}

<style>
    .razorpay-payment-button{
        display: none;
    }
</style>

<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'store:shop' %}">Shop</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'store:cart' %}">Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center">
                    <h3 class="ft-bold pt-3">Checkout</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <h4 class="fw-bold p-3">Cart items</h4>
                <div style="overflow-y: scroll; max-height: 650px; overflow-x: hidden" class="p-3">
                    
                    {% for item in order.order_items.all %}
                        <div class="shadow rounded mb-3">
                            <div class="row d-flex align-items-center p-3">
                                <div class="col-lg-4 d-flex gap-3">
                                    <img src="{{item.product.image.url}}" alt="" style="width: 100px; height: 100px; object-fit: cover" />
                                    <div class="p-2">
                                        <h5>{{item.product.name}}</h5>
                                        <p class="mb-0 mt-0">Price: ${{item.price}}</p>
                                        <p class="mb-0 mt-0">Vendor: {{item.product.vendor.profile.full_name}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="mb-1">Price</p>
                                    <h4 class="fs-3">${{item.price}}</h4>
                                </div>

                                <div class="col-lg-2">
                                    <p class="mb-1">Qty</p>
                                    <h4 class="fs-3 mb-0">{{item.qty}}</h4>
                                </div>
                                <div class="col-lg-2">
                                    <p class="mb-1">Price</p>
                                    <h4 class="fs-3 mb-0">${{item.sub_total}}</h4>
                                </div>
                                <div class="col-lg-2">
                                    <a href="{% url 'store:cart' %}" class="btn bg-primary text-white btn-sm rounded"><i class="fas fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        
                    
                </div>

                <div class="p-3">
                     <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="card-wrap border rounded mb-4">
                                <div class="card-wrap-header px-3 py-2 br-bottom d-flex align-items-center justify-content-between">
                                    <div class="card-heafder-flex">
                                        <h4 class="fs-md ft-bold mb-1">Shipping Address</h4>
                                    </div>
                                </div>
                                <div class="card-wrap-body px-3 py-3">
                                    <p class="mb-0"><span class="fw-bold">Full Name: </span>{{order.address.full_name}}</p>
                                    <p class="mb-0"><span class="fw-bold">Email: </span>{{order.address.email}}</p>
                                    <p class="mb-0"><span class="fw-bold">Mobile: </span>{{order.address.mobile}}</p>
                                    <p class="mb-0"><span class="fw-bold">Address: </span>{{order.address.address}}</p>
                                    <p class="mb-0"><span class="fw-bold">City: </span> {{order.address.city}}</p>
                                    <p class="mb-0"><span class="fw-bold">State: </span> {{order.address.state}}</p>
                                    <p class="mb-3"><span class="fw-bold">Country: </span> {{order.address.country}}</p>
                                    <a href="{% url 'store:cart' %}" class="mt-3 text-primary">Change Shipping Address <i class="fas fa-edit ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="fw-bold">Order Summary</h4>
                <div class="shadow rounded p-3 mt-5">

                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Sub-total</p>
                            <p class="fs-6">${{order.sub_total}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Shipping</p>
                            <p class="fs-6">${{order.shipping}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Tax</p>
                            <p class="fs-6">${{order.tax}}</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Service Fee</p>
                            <p class="fs-6">${{order.service_fee}}</p>
                        </div>
                        
                        {% if order.saved %}
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="fw-semibold fs-6">Discount</p>
                                <p class="fs-6">${{order.saved}}</p>
                            </div>
                            
                            {% for coupon in order.coupons.all %}
                                <small class="text-success fw-bold">{{ coupon.code }} Applied</small>
                            {% endfor %}
                        {% endif %}

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <p class="fw-bold text-dark fs-5">Total</p>
                            <p class="fw-bold text-dark fs-5">${{order.total}}</p>
                        </div>
                    </div>
                </div>

                <div class="shadow rounded p-3 mt-3">
                    <h4 class="fw-bold">Coupons</h4>
                    <form class="mb-3 d-flex" action="{% url 'store:coupon_apply' order.order_id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="coupon_code" placeholder="Coupon Code" />
                        <button type="submit"  class="btn bg-secondary text-white"><i class="fas fa-check-circle"></i></button>
                    </form>
                </div>
                <!-- Thanh toán khi nhận hàng (COD) -->
<div class="shadow rounded p-3 mt-3 text-center">
    <h4 class="fw-bold mb-3">Cash on Delivery (COD)</h4>
    <p class="mb-4">You will pay directly upon receipt of goods, no need to pay online.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn bg-primary text-white w-100 fw-bold">
            Order Confirmation
        </button>
    </form>
</div>
{% endblock %}


